* {
  box-sizing: border-box;
}

:root {
   --color-white: white;
   --color-grey: #333;
   --color-blue: #3498db;
   --color-pink: rgb(243, 198, 213);
}
body {
  font-family: Arial, sans-serif;
  color: var(--color-grey);
  margin: 0;
  padding: 0;
}
header {
  background-color:var(--color-white);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  margin: 0;
}
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: var(--color-pink);
}
.card {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  overflow: hidden;
  width: 300px;
}
.card__img {
  width: 100%;
  height: auto;
}
.card__content {
  padding: 1rem;
}
.card__title {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
  color: var(--color-blue);
}
.card__text {
  margin: 0;
  font-size: 1.4rem;
  color: var(--color-grey);
}
@media screen and (max-width:540px) {
  
  .card__title {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    color: var(--color-blue);
  }
  .card__text {
    margin: 0;
    font-size: 1rem;
  }
}
@container and (min-width:540px) {
  .card__title {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    color: var(--color-blue);
  }
  .card__text {
    margin: 0;
    font-size: 1rem;
  }
}